#body1 {
    top: 140px;
}

.body table {
    width: 100%;
    padding: 11px 192px;
}

.body table td.col6 {
    width: 50%;
}

.body table.grid img {
    width: 80%;
    margin: 0 10%;
}

#yt-embed {
    width: 60%;
    margin: 50px auto;
}

#yt-embed iframe {
    width: 48vw;
    height: 27vw;
}